@model InternshipApplicationPlatform.Models.ViewModel.Class
@{
    ViewBag.Title = "GetListPastApp";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            padding: 8px;
            text-align: center;
            border: 1px solid #ddd;
        }

        .table th {
            background-color: #b5b5b578;
            font-weight: bold;
        }

    #gecmis-baslik {
        text-align: center;
    }
</style>
<br />
<h2 id="gecmis-baslik">Geçmiş Stajlarım</h2>
<br />

@{ string color = "";}
<br />
@using (Html.BeginForm("Index", "Item", FormMethod.Get))
{
    <p>
        @Html.TextBox("p", null, new { @class = "search-textbox", placeholder = "Listede Ara" })
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kurum Ad</th>
            <th scope="col">Staj Tarihi</th>
            <th scope="col">Staj Süresi</th>
            <th scope="col">Mail</th>
            <th scope="col">Durum</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model.Internships)
            {

                    <tr>
                    <td scope="row">1</td>
                    <td>@c.CompanyName</td>
                    <td>@c.InternshipStart - @c.InternshipEnd</td>
                    <td>@c.InternshipTime</td>
                    <td>dmr@mail</td>
                    <td>
                        @if (c.Status == "Onaylandı")
                        {
                        <span class="badge badge-success">Onaylandı</span>
                        }
                        else if (c.Status == "Reddedildi")
                        {
                        <span class="badge badge-danger">Reddedildi</span>
                        <span onclick="showPopup()" style="padding-left:20px;" class="badge badge-light">
                            <i class="fas fa-book"></i> Oku
                        </span>
                        }
                    </td>
                </tr><tr>
                    <td scope="row">2</td>
                    <td>Jacob Tech</td>
                    <td>12.07.2022 - 15.08.2023</td>
                    <td>15</td>
                    <td>mail</td>
                    <td>
                        <span class="badge badge-danger ">Reddedildi</span>
                    </td>
                </tr><tr>
                    <td scope="row">3</td>
                    <td>Larry the Bird</td>
                    <td>02.07.2020 - 02.10.2020</td>
                    <td>25</td>
                    <td>mail</td>
                    <td>
                        <span class="badge badge-success ">Onaylandı</span>
                    </td>
                </tr>                  
            }
        
            </tbody>
</table>





