@model InternshipApplicationPlatform.Models.ViewModel.Class
@{
    ViewBag.Title = "NewApplication";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<style>
    table {
        border: none;
        width: 100%;
    }

    th, td {
        border: none;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    .file-input {
        /* Butonun kenarlık kalınlığı ve rengi */
        border: none;
        /* Butonun iç kenarlığı (padding) */
        padding: 10px 20px;
        /* Butonun şekli ve köşe yuvarlaklığı */
        border-radius: 5px;
        /* Butonun üzerine gelindiğindeki efekt */
        transition: background-color 0.3s;
    }

        .file-input:hover {
            color: red;
        }

    .third-width {
        width: 33.33%; /* Tablonun genişliğini üçe bölmek için */
    }

    .container3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Üç eşit genişlikte sütun */
        gap: 130px; /* Sütunlar arası boşluk */
    }

        .container3 > div {
            padding: 10px; /* Hücre içerisindeki içeriğin etrafında boşluk */
        }

    .checkbox {
        margin-bottom: 2px;
    }

    .checkboxContainer {
        display: flex;
        flex-direction: column;
    }

        .checkboxContainer label {
            margin-right: 10px; /* Checkbox ile etiket arasına boşluk bırak */
        }

    .label1 input {
        margin-bottom: 10px;
    }
</style>
<div>

    @using (Html.BeginForm("NewApplication", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        foreach (var u in Model.Users.Where(u => u.Role == "Öğrenci").ToList())
        {
            foreach (var c in Model.Internships)
            {
                foreach (var s in Model.Students)
                {

                    <br />

                    <h2>ERZURUM TEKNİK ÜNİVERSİTESİ / Mühendislik ve Mimarlık Fakültesi</h2>
                    <br />
                    <h2><strong>ZORUNLU STAJ FORMU</strong></h2>

                    <hr />

                    <div class="main-content" style="scroll-behavior: smooth;">
                        <div class="makam"
                             style="display: flex; align-items: center; justify-content: center; text-align: justify;  ">
                            <label><strong>İLGİLİ MAKAMA</strong></label>
                        </div>
                        <p>
                            Aşağıdaki kimlik bilgileri yazılı öğrencimizin <strong>toplam 60 gün </strong>staj yapma zorunluluğu vardır.Öğrencimizin, kurum/kuruluşunuzda yapmak istediği
                            <input type="text" name="" style="height:2px; width: 15px;" placeholder="................" /> gün staj talebinin uygun bulunup-bulunmadığının, formda 3. Bölüm bilgileri ve onayı ile belirtilemsini arz/rica eder, göstereceğiniz ilgiye teşekkür ederim.
                        </p>
                        <br />
                        <div class="imza1" style="float: right; ">
                            İmza:
                            <label>..........................</label>/Bölüm Başkanı
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div style="background-color: #3e86b08a; padding-left: 15px">
                        <strong> 1) ÖĞRENCİ KİMLİK BİLGİLERİ</strong>  (Öğrenci tarafından <strong>eksiksiz</strong> doldurulmalıdır.)
                    </div>
                    <hr />

                    <div class="container" style="display: flex; padding-left: 45px">

                        <table class="half-width" style=" flex: 2;">

                            <tr>
                                <td><label for="ad-soyad">Adı ve Soyadı</label></td>
                                <td><input type="text" id="ad-soyad" name="" value="@u.FullName" required></td>
                            </tr>
                            <tr>
                                <td><label for="no">Öğrenci No</label></td>
                                <td><input type="text" id="no" name="no" value="@s.No" required></td>
                            </tr>
                            <tr>
                                <td><label for="bolum">Bölümü</label></td>
                                <td><input type="text" id="bolum" name="bolum" value="@c.StudentDepartment" required></td>
                            </tr>
                            <tr>
                                <td><label for="yıl">Öğretim Yılı/Dönemi</label></td>
                                <td><input type="text" id="yıl" name="yıl" value="@c.AcademicYear" required></td>
                            </tr>

                            <tr>
                                <td><label for="telefon">Telefon</label></td>
                                <td><input type="text" id="tel" name="" value="@u.Tel" required></td>
                            </tr>
                            <tr>
                                <td><label for="email">E-Posta</label></td>
                                <td><input type="email" id="email" name="email"  value="@u.Email" required></td>
                            </tr>
                            <tr>
                                <td><label for="adres">İkametgah Adresi</label></td>
                                <td><input type="text" id="adres" name="" value="@u.Adress" required></td>
                            </tr>


                        </table>

                        <div class="half-width" style="flex: 1; padding: 50px;  ">
                            <div style="display: flex; justify-content: center;  align-items: center; border: 1px solid black; height:200px; width:150px"><img src="" alt="Image"></div>
                            <br />
                            <input type="file" id="file" name="file" class="file-input">
                        </div>
                    </div>
                    <hr />
                    <div style="background-color: #3e86b08a; padding-left: 15px">
                        <strong> 2) STAJ YAPILACAK KURUM/KURULUŞUN </strong>  (Öğrenci tarafından <strong>eksiksiz</strong> doldurulmalıdır.)
                    </div>
                    <hr />
                    <div style="padding-left: 45px">
                        <table>

                            <tr>
                                <td><label for="ad-tel">Adı</label></td>
                                <td><input type="text" id="ad-tel" name="ad-tel" required></td>
                            </tr>
                            <tr>
                                <td><label for="telefon">Telefon</label></td>
                                <td><input type="text" id="tel" name="tel" placeholder="+90" required></td>
                            </tr>
                            <tr>
                                <td><label for="adres">Adresi</label></td>
                                <td><input type="text" id="adres" name="adres" required></td>
                            </tr>

                        </table>
                    </div>

                    <hr />
                    <div style="background-color: #3e86b08a; padding-left: 15px">
                        <strong> 3) STAJ YERİ YETKİLİSİNİN </strong>  (Staj yapılacak kurum/kuruluş yetkilisi tarafından <strong>eksiksiz</strong> doldurulmalı ve onaylanmalıdır.)
                    </div>
                    <hr />

                    <div class="container2" style="display: flex; padding-left: 45px">

                        <table class="half-width" style=" flex: 2;">

                            <tr>
                                <td><label for="ad-soyad">Adı ve Soyadı</label></td>
                                <td><label name="" style="border: 1px solid black; width:185px; height:25px; background-color:white"></label></td>
                            </tr>
                            <tr>
                                <td><label for="unvan">Görev ve Unvanı</label></td>
                                <td><label name="" style="border: 1px solid black; width:185px; height:25px; background-color:white"></label></td>
                            </tr>
                            <tr>
                                <td><label for="email">E-Posta</label></td>
                                <td><input type="email" id="email" name="" required></td>
                            </tr>
                            <tr>
                                <td><label for="tarih">Tarih</label></td>
                                <td><label name="" style="border: 1px solid black; width:185px; height:25px; background-color:white"></label></td>
                            </tr>


                        </table>

                        <div class="half-width" style="flex: 1; padding: 50px;  ">
                            <div style="display: flex; justify-content: center;  align-items: center;"><strong>Kurumumuzda/İşletmemizde staj yapması uygundur.</strong></div>
                            <br />
                            Kaşe/İmza
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div style="background-color: #3e86b08a; padding-left: 15px">
                            <strong> 4) STAJ TARİHLERİ </strong>  (Öğrenci tarafından <strong>eksiksiz</strong> doldurulmalıdır.)
                        </div>
                        <br />
                        <table>
                            <tr>
                                <td><label for="tarih">Başlama Tarihi</label></td>
                                <td><input type="text" id="tarih" name="" placeholder="GG/AA/YYYY" required></td>

                                <td><label for="tarih">Bitiş Tarihi</label></td>
                                <td><input type="text" id="tarih" name="" placeholder="GG/AA/YYYY" required></td>

                                <td><label for="gun">Süresi(Staj Günü)</label></td>
                                <td><input type="text" id="gun" name="" required></td>
                            </tr>
                        </table>
                    </div>
                    <hr />
                    <div>
                        <div style="background-color: #3e86b08a; padding-left: 15px">
                            <strong> 5) ÖĞRENCİNİN NÜFUS KAYIT ve SİGORTA BİLGİLERİ </strong>  (Öğrenci tarafından <strong>eksiksiz</strong> doldurulmalıdır.)
                        </div>
                    </div>
                    <div class="container3" style="display: flex; padding-left: 45px">
                        <table>
                            <tr>
                                <td>
                                    <div class="label1">

                                        <input type="text" id="adı" name="" required>
                                        <label for="ad" style="width: 100px; float: left "  value="@u.Name">Adı</label><br>

                                        <input type="text" id="soyadı" name="" required>
                                        <label for="soyad" style="width: 100px; float: left " value="@u.Surname">Soyadı</label><br>

                                        <input type="text" id="tc" name="tc" required>
                                        <label for="tc" style="width: 100px; float: left " value="@u.TC">T.C. Kimlik No</label><br>

                                        <input type="text" id="ssk" name="ssk" required>
                                        <label for="ssk" style="width: 100px; float: left " value="@s.SSK">SSK No(varsa)</label><br>
                                    </div>
                                </td>
                                <td>
                                    <div class="label1">

                                        <input type="text" id="Bad" name="" required>
                                        <label for="Babaad" style="width: 100px; float: left " value="@s.FatherName">Baba Adı</label><br>

                                        <input type="text" id="Aad" name="" required>
                                        <label for="Anaad" style="width: 100px; float: left " value="@s.MotherName">Ana Adı</label><br>

                                        <input type="text" id="dYer" name="" required>
                                        <label for="dYer" style="width: 100px; float: left " value="@s.PlaceOfBirth">Doğum Yeri</label><br>

                                        <input type="text" id="dTarih" name="" placeholder="GG/AA/YYYY" required>
                                        <label for="dTarih" style="width: 100px; float: left " value="@s.DateOfBirth">Doğum Tarihi</label><br>

                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="guvence">Sağlık Güvencesi (İşaretleyiniz)</label><br>
                                    </div>
                                    <hr />
                                    <div class="checkboxContainer">

                                        <input type="checkbox" id="checkbox1" name="checkbox1" class="checkbox">
                                        <label for="checkbox1" style="width: 100px; float: left">Kendisi</label>

                                        <input type="checkbox" id="checkbox2" name="checkbox2" class="checkbox">
                                        <label for="checkbox2" style="width: 100px; float: left">Annesi/Babası</label>

                                        <input type="checkbox" id="checkbox3" name="checkbox3" class="checkbox">
                                        <label for="checkbox3" style="width: 100px; float: left">Yeşil Kart</label>

                                        <input type="checkbox" id="checkbox3" name="checkbox4" class="checkbox">
                                        <label for="checkbox4" style="width: 100px; float: left">Yok</label>
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <hr />

                    <div class="container4" style="display: flex; padding-left: 45px; ">
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <label for="onay1" style="background-color: #3e86b08a; ">Bölüm Staj Komisyonu Başkan Onayı</label><br>
                                        <hr />
                                        <div style="height: 200px; width: 200px; text-align: center">
                                            Kaşe/İmza:
                                            <p style="position: relative; margin: 150px 0px; text-align: center; display: flex; flex-direction: column; justify-content: space-between; align-items: center; ">Tarih:  ....../....../20.....</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="onay2" style=" background-color: #3e86b08a; ">Dekanlık Onayı(Dekan Yardımcısı)</label><br>
                                        <hr />
                                        <div style="height: 200px; width: 200px; text-align: center">
                                            Kaşe/İmza:
                                            <p style="position: relative; margin: 150px 0px; text-align: center; display: flex; flex-direction: column; justify-content: space-between; align-items: center; ">Tarih:  ....../....../20.....</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <label for="onay3" style=" background-color: #3e86b08a; ">S.K.S Daire Başkanlığı Onayı</label><br>
                                        <hr />
                                        <div style="height:200px; width:200px; text-align:center">
                                            Kaşe/İmza:
                                            <p style="position: relative; margin: 150px 0px; text-align: center; display: flex; flex-direction: column; justify-content: space-between; align-items: center; ">Tarih:  ....../....../20.....</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <hr />
                    <div>
                        <p style="display: flex; padding-left: 35px; ">
                            Bu belge üzerindeki bilgilerin doğru olduğunu beyan ediyor ve yanlış beyan ya da staj yerine gitmeme veya yarıda bırakma gibi durumlarda sigorta işlemleri nedeni ile doğacak yasal para cezasını ödeyeceğimi taahhüt ediyorum.
                            <br />
                        <p style="display: flex; padding-left: 45px; ">Staj evrakının hazırlanmasını arz ederim.</p>

                        <div class="imza2" style="float: right; ">

                            <input value="@u.FullName">Öğrencinin Adı-Soyadı:  .......................................... />
                            <br />
                            Tarih/İmza:<input type="text" name="" style="height:2px; width: 35px;" placeholder="..........................."/>     <input input type="text" name="" style="height:2px; width: 35px;" placeholder="........../......./20........" />

                        </div>
                    </div>
                    <br />
                    <br />
                    <hr />
                    <div>
                        <div style="background-color: #3e86b08a; padding-left: 15px">
                            <strong>STAJ UYGULAMA ESASLARI </strong>
                        </div>
                        <hr />

                        <p>
                            	Staja devam zorunludur. Geçerli mazeretler nedeniyle devam edilemeyen günler, her bir staj döneminin % 20’sinden fazla olmamak kaydıyla telafi edilebilir.<br />
                            	Stajını mazereti dolayısıyla tamamlayamayacağını mazeretinin başlangıcından itibaren 5 (beş) işgünü içinde birimine bildirmeyen öğrenciler için oluşturdukları kamu zararı nedeni ile disiplin soruşturması açılır.<br />
                            	SGK sistemine öğrenciler için bir ayda iki kez veri girişi yapılamayacağından bir öğrenciye aynı ay içerisinde ikinci kez staj yaptırılamaz.<br />
                            	Staj süresinde, remi tatil günleri sayılmaz ve hafta, kamu kurumlarında 5 iş günü, özel kuruluşlarda Cumartesi çalışılıyor ise 6 gün olarak dikkate alınır.<br />
                            <br />

                            <strong><span style="background-color: #FFFF00"><u>NOT</u></span>: 5510 sayılı yasa gereğince öğrencinin iş kazası ve meslek hastalıkları sigorta primlerini ödeme yükümlüsü Erzurum Teknik Üniversitesi Rektörlüğü’dür.</strong>
                        </p>
                    </div>
                    <br />
                    <p style="color: grey; padding-left:25px"> Bu belge , öğrenci tarafından bir örneği kurum/kuruluşa verilmek üzere <strong><u>tek nüsha halinde</u></strong> düzenlenir</p>
                    <br />

                    <div>
                        <strong>Transcript Yükleyin:</strong>
                        <input type="file" id="file" name="file" class="file-input">
                    </div>
                    <button type="submit" class="btn btn-info" style="position: relative; margin-left: 700px ;">
                        Gönder
                    </button>
                    <br />
                    <br />
                }
            }
        }
    }
</div>





